:root {
  --brown: #3e2723;
  --dark: #000000;
  --white: #ffffff;
  --yellow: #ffecb3;
  --purple: #311b92;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  background-color: var(--brown);
  box-shadow: 0px 0px 120px 0 var(--dark) inset;
}

body>.container {
  min-height: calc(100vh - 250px);
}

header {
  padding: 25px;
}


.card-image img {
  min-height: 177.88px;
  max-height: 177.88px;
  min-width: 100%;
}

strong {
  color: var(--white);
}

em {
  color: var(--yellow);
}

.nav-wrapper>a {
  padding: 0 25px;
}

.debug {
  background-color: var(--white);
  color: var(--purple);
}

.lyrics {
  white-space: pre-line;
  color: var(--white);
  text-shadow: var(--dark) 2px 2px 1px, var(--dark) -2px -2px 5px;
  letter-spacing: 1.8px;
}

.paroles-left,
.paroles-right {
  position: relative;
}

.paroles-right {
  border-left: 1px solid var(--white);
}

.paroles-left>div,
.paroles-right>div {
  border-bottom: 1px solid var(--white);
  margin: 30px 25px;
}

.paroles-left h5,
.paroles-right h5 {
  position: absolute;
  font-size: 180px;
  text-transform: uppercase;
  text-shadow: var(--dark) 4px 4px 10px, var(--dark) -4px -4px 10px;
  opacity: 0.1;
  transition: opacity 1s ease-in;
}

.paroles-left h5 {
  transform: rotate(-90deg);
  top: 600px;
  left: -350px;
}

.paroles-right h5 {
  transform: rotate(90deg);
  top: 770px;
  right: -530px;
}

.paroles-left:hover h5,
.paroles-right:hover h5 {
  opacity: 0.6;
  transition: opacity 1s ease-in;
}

.paroles-right .lyrics {
  padding-left: 50px;
}

.paroles-left .lyrics {
  padding-right: 50px;
}

.lyrics {
  min-height: 1500px;
}

.card-content {
  border-top: 2px solid var(--brown);
  min-height: 100px;
  max-height: 100px;
}

td * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  min-width: 100%;
}

.btnAdd {
  display: none;
}

input,
input:focus,
textarea,
textarea:focus {
  color: var(--yellow) !important;
  padding: 0 5px !important;
  background-color: transparent !important;
}

.btn {
  cursor: pointer;
}

.footer-copyright>.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal {
  min-height: 500px;
}

.btn-modal {
  display: block;
}

.panel-admin-info-number {
  font-size: 100px;
  text-shadow: 2px 2px 5px var(--dark), -2px -2px 5px var(--dark);
}

.panel-admin-info-text {
  font-size: 50px;
}

.striped {
  color: var(--white);
}

/*
 *******************************************************************************************
 ****************************************************                 MARGIN
 *******************************************************************************************
 */

/* Margin top */
.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

btn-modal .mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

/* Margin right */
.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mr-6 {
  margin-right: 60px;
}

.mr-7 {
  margin-right: 70px;
}

.mr-8 {
  margin-right: 80px;
}

/* Margin bottom */
.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

/* Margin left */
.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.ml-6 {
  margin-left: 60px;
}

.ml-7 {
  margin-left: 70px;
}

.ml-8 {
  margin-left: 80px;
}

/* Margin top & bottom */
.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-7 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Margin right & left */
.mx-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.mx-4 {
  margin-right: 40px;
  margin-left: 40px;
}

.mx-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.mx-6 {
  margin-right: 60px;
  margin-left: 60px;
}

.mx-7 {
  margin-right: 70px;
  margin-left: 70px;
}

.mx-8 {
  margin-right: 80px;
  margin-left: 80px;
}

/* Margin */
.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.m-6 {
  margin: 60px;
}

.m-7 {
  margin: 70px;
}

.m-8 {
  margin: 80px;
}

/*
 *******************************************************************************************
 ****************************************************                 PADDING
 *******************************************************************************************
 */

/* Padding top */
.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-7 {
  padding-top: 70px;
}

.pt-8 {
  padding-top: 80px;
}

/* Padding right */
.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pr-6 {
  padding-right: 60px;
}

.pr-7 {
  padding-right: 70px;
}

.pr-8 {
  padding-right: 80px;
}

/* Padding bottom */
.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pb-8 {
  padding-bottom: 80px;
}

/* Padding left */
.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pl-6 {
  padding-left: 60px;
}

.pl-7 {
  padding-left: 70px;
}

.pl-8 {
  padding-left: 80px;
}

/* Padding top & bottom */
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-7 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Padding right & left */
.px-1 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.px-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-5 {
  padding-right: 50px;
  padding-left: 50px;
}

.px-6 {
  padding-right: 60px;
  padding-left: 60px;
}

.px-7 {
  padding-right: 70px;
  padding-left: 70px;
}

.px-8 {
  padding-right: 80px;
  padding-left: 80px;
}

/* Padding */
.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

.p-6 {
  padding: 60px;
}

.p-7 {
  padding: 70px;
}

.p-8 {
  padding: 80px;
}